@using Best.Site.Areas.BestPalace.Controllers;
@{
    Dictionary<string, string> attrList = Model.attrList;
    Dictionary<string, string> eventList = Model.eventList;

    @PubUiEngineGet.GetElementStatusNetObj(Model.elementId + "", Model.addressId, Model.elementId)
    string showClass = PubUiEngineGet.IIF("isHide" + Model.elementId, "hide", "");

    var specialEvents = new string[] { "callBack", "preinit" };
    var id = attrList["name"];
    var name = attrList["name"];
    var title = PubControlHelper.GetControlAttributeByBuild(attrList, "title");
    var style = PubControlHelper.GetControlAttributeByBuild(attrList, "style");
    var class_ = PubControlHelper.GetControlAttributeByBuild(attrList, "class");
    string finallyThisIsMyParsedTemplate = RazorEngineExtension.RazorPars(PubUiEngineGet.GetUiEngineBuildCodePvControlEventDir, FileSugar.FileToString(PubUiEngineGet.GetUiEngineBuildCodePvControlEventDir), new { key = "getset_html", name = name });
}
@using Best.Entities.UiEngine
@using RazorEngine;
@using RazorEngine.Templating;
@using SyntacticSugar
<!------------------@(name) BEGIN------------------>
<label id="@id" name="@id" class="@class_.AppendString(showClass," ",false)" style="@style" title="@title">@title</label>
<script>
    $(function () {
        @foreach (var item in EventManager.GetInstance.GetEeventList) {

            bool isOnEvent = (item.Name != "callBack" || item.Name != "preinit" ) ;
            if (isOnEvent)
            {
               @: $("#@name").on("@item.Name",function(){
               @:     @(GetEvent(item.Name, eventList))
               @:  });
            }
            else
            {
                @: @(GetEvent(item.Name,eventList))
            }
        }
    })

     @finallyThisIsMyParsedTemplate



</script>

@helper GetId(string eventName, string id)
{
    @: @eventName@("_")@id
}
@helper GetEvent(string eventName, Dictionary<string, string> eventList)
{
  if (eventList.ContainsKey(eventName))
  {
        @: @eventList[eventName]
  }
}
<!------------------@(name) END------------------>