@{
    var hasVal = Model != null;
    List<SysBest_ElementAttr> model = Model;
    var class_ = PubControlHelper.GetControlAttribute(model, "class");
    var style = PubControlHelper.GetControlAttribute(model, "style");
    string defaultKey = PubControlHelper.GetControlAttribute(model, "defaultKey");
    string defaultValue = PubControlHelper.GetControlAttribute(model, "defaultValue");
    string pars = PubControlHelper.GetControlAttribute(model, "pars");
    string apiKey = PubControlHelper.GetControlAttribute(model, "apiKey"); ;
    string apiValue = PubControlHelper.GetControlAttribute(model, "apiValue");
    var parsReadElement = PubControlHelper.GetControlAttribute(model, "parsReadElement");
    string innerHtml = PubControlHelper.GetControlAttribute(model, "innerHtml");
}
@using System;
@using System.Collections;
@using System.Linq;
@using Best.Entities.Tables;
@using Best.Entities.UiEngine
@using SyntacticSugar
@using Best.Site.Areas.BestPalace.Controllers
<table class="editTable">
 
    <tr>
        <td class="first">Class:</td>
        <td>
            <input name="attr.Value" value="@class_" type="text" />
            <input name="attr.Key" type="hidden" value="class" />
        </td>
    </tr>
    <tr>
        <td class="first">延时控件ID：</td>
        <td>
            <input name="attr.Value" value="@parsReadElement" type="text" />
            <input name="attr.Key" type="hidden" value="parsReadElement" />
        </td>
    </tr>
    <tr>
        <td class="first">Style:</td>
        <td>
            <input name="attr.Value" value="@style" type="text" />
            <input name="attr.Key" type="hidden" value="style" />
        </td>
    </tr>
    <tr>
        <td class="first">默认值:</td>
        <td>
            <input name="attr.Value" value="@defaultKey" type="text" />
            <input name="attr.Key" type="hidden" value="defaultKey" />
        </td>
    </tr>
    <tr>
        <td class="first">InnerHtml:</td>
        <td>
            <input name="attr.Value" value="@innerHtml" type="text" />
            <input name="attr.Key" type="hidden" value="innerHtml" />
        </td>
    </tr>
    <tr>
        <td class="first">默认文本:</td>
        <td>
            <input name="attr.Value" value="@defaultValue" type="text" />
            <input name="attr.Key" type="hidden" value="defaultValue" />
        </td>
    </tr>
    <tr>
        <td class="first">接口值:</td>
        <td>
            <input name="attr.Value" value="@apiKey"  type="text" />
            <input name="attr.Key" type="hidden" value="apiKey" />
        </td>
    </tr>
    <tr>
        <td class="first">接口文本:</td>
        <td>
            <input name="attr.Value" value="@apiValue"  type="text" />
            <input name="attr.Key" type="hidden" value="apiValue" />
        </td>
    </tr>
    <tr>
        <td class="first">参数:</td>
        <td>
            <input id="txtJson" name="attr.Value" value='@pars.ToHtmlDecode().TryToString().Replace("'","\"")' type="text" />
            <input name="attr.Key" type="hidden" value="pars" />
            <span class="icon-search" onclick="$quickFactory('json-data', '#divJsonBox', '#txtJson')"></span>
        </td>
    </tr>
</table>